{# Allow logged in users to "favourite" an entry

	Logged in users see a "favourite" and "unfavourite" button.
	Login link shown if you're not logged in already.

	REQUIRES: you to set up an Entries field called "favourites" and add it to the User field group
	USE: Just include this file where you need it.

	e.g., {% include '_partials/favourite' %}

	NOTE: Because the form has to pass the user's credentials, this should ONLY BE USED ON HTTPS WEBSITES
	      If you need it on a non https site, this functionality will need refactoring into a plugin
#}

{% if currentUser %}
	{# favourite this page / document #}
	<form action="" method="post" accept-charset="UTF-8" enctype="multipart/form-data" id="favourite">
		<div class="hidden">
			<input type="hidden" name="action" value="users/saveUser">
			{{ getCsrfInput() }}
			<input type="hidden" name="userId" value="{{ currentUser.id }}">
			<input type="hidden" name="password" value="{{ currentUser.password }}">

			{% if currentUser.favourites | length > 0 %}{# there are already favourited documents #}
				{% set currentFavourites = currentUser.favourites.ids() %}
				{% set newFavourites     = [] %}
				{% set thisItem          = entry.id %}

				{% if currentUser.favourites.id(thisItem).first() %}{# This document is a favourite. So we want to unfavourite it. #}
					{% set action = 'unfavourite' %}

					{# Build the array of Entries to be Favourites #}
					{% for favouriteId in currentFavourites %}
						{% if favouriteId != thisItem %}
							{% set newFavourites = newFavourites|merge([favouriteId]) %}
						{% endif %}
					{% endfor %}
				{% else %}{# Not already a favourite. Make it a favourite. #}
					{% set action = 'favourite' %}
					{% set newFavourites = currentFavourites|merge([thisItem]) %}
				{% endif %}

				{# We now have an array of Entries that should be marked as Favourites OR DO WE!? #}
				{% if newFavourites | length %}{# Yes we do #}
					{# Build the HTML input list to pass these values #}
					{% for newFavourite in newFavourites %}
						<input type="hidden" name="fields[favourites][]" value="{{ newFavourite }}">
					{% endfor %}
				{% else %}{# Ha! No, we just unfavourited the last favourite #}
					<input type="hidden" name="fields[favourites]" value="">
					{% set action = 'unfavourite' %}
				{% endif %}
			{% else %}{# the user currently has no favourited documents #}
				{% set action = 'favourite' %}
				<input type="hidden" name="fields[favourites][]" value="{{ entry.id }}">
			{% endif %}
		</div>

		{% if action == 'favourite' %}
			<button type="button">Favourite</button>
		{% else %}
			<button type="button">Un-Favourite</button>
		{% endif %}
	</form>
{% else %}
	<p>
		<a href="/login" class="button"><span>Login to favourite</span></a>
	</p>
{% endif %}
