{% import '_macros/helpers' as helpers %}
{% import '_macros/images' as imageHelper %}

<div
	class="mixedContent_featuredLink"
	id="block-{{ block.id }}"
	data-text-colour="{{ block.textColour }}"
	data-reveal-on-scroll
>
	<div class="image">
		{{ imageHelper.basic({
			transform: 'bannerImage',
			source: block.backgroundImage[0]
		}) }}
	</div>

	<div class="text l_stack">
		<a href="{{ block.linkUrl }}" class="uc_button">{{ block.linkTitle }}</a>
		{% if block.linkDescription | length %}
			<p>{{ block.linkDescription }}</p>
		{% endif %}
	</div>
</div>
