{% import '_macros/helpers' as helpers %}

<div
	class="mixedContent_featuredLink"
	id="block-{{ block.id }}"
	data-text-colour="{{ block.textColour }}"
	data-reveal-on-scroll
>
	<div class="image">
		{% set jpgs  = craft.imagerx.transformImage( block.backgroundImage[0], 'bannerImageJpg') %}
		{% set webps = craft.imagerx.transformImage( block.backgroundImage[0], 'bannerImageWebp') %}
		<picture>
			<!-- prefer webp, list these first. Order matters, first media to match is what's rendered - opposite of CSS rules -->
			<source media="(max-width: 359px)" srcset="{{ webps[0].url }}" type="{{ webps[0].mimeType }}" width="{{ webps[0].width }}" height="{{ webps[0].height }}">
			<source media="(min-width: 680px)" srcset="{{ webps[2].url }}" type="{{ webps[2].mimeType }}" width="{{ webps[2].width }}" height="{{ webps[2].height }}">
			<source media="(min-width: 360px)" srcset="{{ webps[1].url }}" type="{{ webps[1].mimeType }}" width="{{ webps[1].width }}" height="{{ webps[1].height }}">

			<!-- jpg fallbacks -->
			<source media="(max-width: 359px)" srcset="{{ jpgs[0].url }}" type="{{ jpgs[0].mimeType }}" width="{{ jpgs[0].width }}" height="{{ jpgs[0].height }}">
			<source media="(min-width: 680px)" srcset="{{ jpgs[2].url }}" type="{{ jpgs[2].mimeType }}" width="{{ jpgs[2].width }}" height="{{ jpgs[2].height }}">
			<source media="(min-width: 360px)" srcset="{{ jpgs[1].url }}" type="{{ jpgs[1].mimeType }}" width="{{ jpgs[1].width }}" height="{{ jpgs[1].height }}">

			<img
				loading="lazy"
				decoding="async"
				src="{{ jpgs[0].url }}"
				width="{{ jpgs[0].width }}"
				height="{{ jpgs[0].height }}"
				alt="{{ block.backgroundImage[0].alt }}"
			/>
		</picture>
	</div>

	<div class="text l_stack">
		<a href="{{ block.linkUrl }}" class="uc_button">{{ block.linkTitle }}</a>
		{% if block.linkDescription | length %}
			<p>{{ block.linkDescription }}</p>
		{% endif %}
	</div>
</div>
