{% import '_macros/helpers' as helpers %}
{% import '_macros/images' as imageHelper %}

<div
	class="mixedContent_imageSingle"
	id="block-{{ block.id }}"
	data-scroll-reveal
>
	{% if block.uncropped | length %}
		{{ imageHelper.basic({
			transform: 'imageSingleUncropped',
			source: block.uncropped[0]
		}) }}
	{% elseif block.landscape32 | length %}
		{{ imageHelper.basic({
			transform: 'imageSingleLandscape32',
			source: block.landscape32[0]
		}) }}
	{% elseif block.landscape169 | length %}
		{{ imageHelper.basic({
			transform: 'imageSingleLandscape169',
			source: block.landscape169[0]
		}) }}
	{% elseif block.landscape2391 | length %}
		{{ imageHelper.basic({
			transform: 'imageSingleLandscape2391',
			source: block.landscape2391[0]
		}) }}
	{% endif %}
</div>
