{% import '_macros/images' as imageHelper %}

<div
	class="mixedContent_imagesGrid l_liquid-grid"
	id="block-{{ block.id }}"
	data-grid-style="{{ block.gridStyle }}"
	data-reveal-on-scroll
>
	{% for image in block.images %}
		<a
			href="/responsive-image/{{ image.id }}" id="id-{{ block.id }}-{{ loop.index }}"
			class="popup"
		>
			{{ imageHelper.basic({
				transform: 'imagesGrid',
				source: image
			}) }}
		</a>
	{% endfor %}
</div>
