{% import '_macros/images' as imageHelper %}

<div
	class="mixedContent_imagesSlider"
	id="block-{{ block.id }}"
	data-reveal-on-scroll
>
	{# Using https://swiperjs.com/swiper-api rather than jQuery and Slick #}

	{# Register the CSS file with Craft. Can't use Vite doing it this way, but that's not and issue either as this is a third party library. #}
	{# {% css "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" %} #}
	{% css "/dist/javascript/third-party/swiper/swiper-bundle.min.css" %}
	{% css %}
		:root {
			--swiper-theme-color: hsl( var(--white, 0 100% 100%) );
		}
	{% endcss %}

	{# Register the JS file with Craft. Can't use Vite doing it this way, but that's not and issue either as this is a third party library. #}
	{# {% js "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" %} #}
	{% js "/dist/javascript/third-party/swiper/swiper-bundle.min.js" %}
	{% js %}
		const swiper = new Swiper('.mixedContent_imagesSlider .swiper', {
			// Optional parameters
			direction: 'horizontal',
			loop: true,

			// If we need pagination
			pagination: {
				el: '.swiper-pagination',
			},

			// Navigation arrows
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},

			// And if we need scrollbar
			{#scrollbar: {
				el: '.swiper-scrollbar',
			},#}
		});
	{% endjs %}

	{% for image in block.images %}
		{% if loop.first %}
			<div class="swiper">
				<div class="swiper-wrapper">
		{% endif %}

		<div class="swiper-slide">
			{#<a href="/responsive-image/{{ image.id }}" id="id-{{ block.id }}-{{ loop.index }}">#}
				{{ imageHelper.basic({
					transform: 'imageSingleLandscape169',
					source: image
				}) }}
			{#</a>#}
		</div>

		{% if loop.last %}
				</div>

				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				{#<div class="swiper-scrollbar"></div>#}
			</div>
		{% endif %}
	{% endfor %}
</div>
