{% import '_macros/helpers' as helpers %}
{% import '_macros/images' as imageHelper %}

<div
	class="mixedContent_textByImage"
	id="block-{{ block.id }}"
	data-text-position="{{ block.textPosition }}"
	data-reveal-on-scroll
	data-expansion-method="{{ block.expansionMethod }}"
>
	{{ imageHelper.basic({
		transform: 'textByImage',
		source: block.image[0]
	}) }}

	<div class="text">
		<div class="richText cms-textblock l_stack">
			{{ block.text }}
		</div>
	</div>
</div>
