{% import '_macros/helpers.twig' as helpers -%}
{% import '_macros/images.twig' as imageHelper %}

{%- extends "_layout.twig" -%}
{%- set htmlClass = null -%}

{%- block content %}<!-- Template: {{ _self }}.twig -->
	{# Eager load the entries own fields #}
	{% do craft.app.elements.eagerLoadElements(
		className(entry),
		[entry],
		[
			'mixedContent.imageSingle:uncropped',
			'mixedContent.imageSingle:landscape32',
			'mixedContent.imageSingle:landscape169',
			'mixedContent.imageSingle:landscape2391',
			'mixedContent.imagesGrid:images',
			'mixedContent.imagesSlider:images',
			'mixedContent.entries:entries.listingImage',
			'mixedContent.files:files',
			'mixedContent.textByImage:image',
			'mixedContent.textByImage:linkTo',
			'mixedContent.featuredLink:backgroundImage',
			'mixedContent.form:redirectOnSuccess',
			'mixedContent.featuredProduct:featuredProduct.listingImage',
			'mixedContent.featuredProduct:featuredProduct.manufacturer',
			'mixedContent.youMayLikeProducts:products.listingImage',
			'mixedContent.youMayLikeProducts:products.manufacturer',
			'mixedContent.card:image'
		]
	) %}

	{% css %}
		:root {
			--accentColour : var(--brandOrange);
		}
	{% endcss %}

	{% if
		craft.blitz is defined
		and
		getenv('BLITZ_CACHE_ENABLED') == true
	%}
		{% do craft.blitz.options({
			tags: [
				entry.type
			]
		}) %}
	{% endif %}

	<main id="main">
		<div class="rowBreadcrumbs l_constrain">
			{% include '_partials/breadcrumbs' with {
				crumbs: entry
			} %}
		</div>

		<div class="rowPageIntroduction l_constrain">
			<div class="wrapper">
				<h1 style="view-transition-name: {{ entry.slug }}-listing-heading">
					{{- entry.title -}}
				</h1>

				{% if entry.pageIntroduction | length %}
					<div class="pageIntroduction">
						{{ entry.pageIntroduction }}
					</div>
				{% endif %}
			</div>
		</div>

		<div class="rowForms l_constrain">
			<div class="wrapper">
				<div class="cols2">
					<div class="col1">
						<div class="cms-textblock l_stack">
							<h2>Your Account</h2>
						</div>
						{% include "_partials/users/formReset.twig" %}
					</div>
				</div>
			</div>
		</div>

		{% cache %}
			{% if entry.listChildPages or entry.listSiblingPages %}
				<section class="rowInSectionNav l_constrain">
					<div class="wrapper">
						{% if entry.listSiblingPages %}
							{% set siblingPages = craft
								.entries
								.section( entry.section )
								.siblingOf( entry )
								.collect()
							%}
							{% if siblingPages | length %}
								<nav class="siblingPages">
									<h2>{{ entry.siblingPagesTitle ??? 'Sibling pages:' }}</h2>
									<ul role="list">
										{% for siblingPage in siblingPages %}
											<li>
												<a href="{{ siblingPage.url }}">
													{{- siblingPage.title -}}
												</a>
											</li>
										{% endfor %}
									</ul>
								</nav>
							{% endif %}
						{% endif %}

						{% if entry.listChildPages %}
							{% set childPages = craft
								.entries
								.section( entry.section )
								.descendantOf( entry )
								.descendantDist( 1 )
								.collect()
							%}
							{% if childPages | length %}
								<nav class="childPages">
									<h2>{{ entry.childPagesTitle ??? 'Child pages:' }}</h2>
									<ul role="list">
										{% for childPage in childPages %}
											<li>
												<a href="{{ childPage.url }}">
													{{- childPage.title -}}
												</a>
											</li>
										{% endfor %}
									</ul>
								</nav>
							{% endif %}
						{% endif %}
					</div>
				</section>
			{% endif %}
		{% endcache %}

		<div class="row l_constrain">
			<div class="l_padding-block">
				{% cache %}
					{% include '_partials/cms-fields/mixed-content.twig' with {
						'parent': entry,
						'groupSeries': true,
						'seriesProperties': {
							'classes': 'l_stack',
							'dataStackSize': 'small'
						}
					} %}
				{% endcache %}
			</div>
		</div>
	</main>
{% endblock -%}
