{% import '_macros/helpers.twig' as helpers -%}
{% import '_macros/images.twig' as imageHelper %}

{%- extends "_layout.twig" -%}
{%- set htmlClass = 'pages ' ~ entry.type -%}

{%- block content %}<!-- Template: {{ _self }}.twig -->
	{# Eager load the entries own fields #}
	{% do craft.app.elements.eagerLoadElements(
		className(entry),
		[entry],
		[
			'mixedContent.imageSingle:uncropped',
			'mixedContent.imageSingle:landscape32',
			'mixedContent.imageSingle:landscape169',
			'mixedContent.imageSingle:landscape2391',
			'mixedContent.imagesGrid:images',
			'mixedContent.imagesSlider:images',
			'mixedContent.entries:entries.listingImage',
			'mixedContent.files:files',
			'mixedContent.textByImage:image',
			'mixedContent.textByImage:linkTo',
			'mixedContent.featuredLink:backgroundImage',
			'mixedContent.form:redirectOnSuccess'
		]
	) %}

	<main id="main">
		<div class="pageHeader">
			{{ imageHelper.basic({
				transform:    'imageSingleLandscape32',
				source:       entry.listingImage[0],
				aboveTheFold: true
			}) }}
		</div>

		<div class="row l_constrain">
			<h1 class="font-size:heading-large">{{ entry.title }}</h1>

			<div class="l_padding-block">
				{% cache %}
					{% include '_partials/cms-fields/mixed-content.twig' with {
						'parent': entry,
						'groupSeries': true,
						'seriesProperties': {
							'classes': 'l_stack',
							'dataStackSize': 'small'
						}
					} %}
				{% endcache %}
			</div>

			<div class="l_stack">
				<div class="cardExample">
					<div class="wrapper l_stack l_padding-full">
						<p>This is just an example of how we can now use CSS Container Queries for styling.</p>
						<p>The background colour changes depent on the width <em>of the <code>.cardExample</code></em> itself, and not the width of the viewport!</p>
						<p>These are not media queries or JavaScript.</p>
						<p>We can <a href="https://lab.ishadeed.com/container-queries/">see some demos</a> or <a href="https://ishadeed.com/article/container-queries-are-finally-here/">learn more</a>.</p>
					</div>
				</div>

				<h2 class="font-size:promoted">Coding images that can generate transforms when saved in the CMS</h2>
				<p>We can't keep using the old (but convenient) image macros, there is no way to make them perform well. The problem is that most "single images" end up with between four and twelve transforms needing to be created. The creation of those transforms happens the first time the image is requested on the front end. Meaning, massive delays to the first page load and huge CPU spikes.</p>
				<p>This can be avoided using <strong>ImagerX</strong>'s Pro version, which allows for <em>transform generation</em>. It means we have to specify our image transforms in a config file, rather than in a Macro on the page.</p>
				<p>You can set <em>named transforms</em> in the <code>/config/imager-x-transforms.php</code> file. You specify a name for the transform - such as "headerImages", and what image transforms you want to be generated for that name.</p>
				<p>You can then set <em>generated transforms</em> in a config file <code>/config/imager-x-generate.php</code>.</p>
				<p>You can tell it to watch for <em>specific fields</em> being saved in the CMS, and when they are - to run any number of <em>named transforms</em> on those images, at that time. For example, you can have it watch the listingImage field in the Pages section, and when it is saved generate from that image the <em>bannerImages</em> and <em>thumbnailImages</em> transforms that are set up in the <code>/config/imager-x-transforms.php</code> file.</p>
				<p>In this way, the images transforms are done when the pages are saved, and this helps stop slow initial page loads.</p>
				<p>See the code below for an example on how to use these transforms:</p>

				<ul>
					<li>Browser Support for WEBP: {{ craft.imager.clientSupports('webp') ? 'yes' : 'no' }}</li>
					<li>Browser Support for AVIF: {{ craft.imager.clientSupports('avif') ? 'yes' : 'no' }}</li>
					<li>Browser Support for JPEG XL: {{ craft.imager.clientSupports('jxl') ? 'yes' : 'no' }}</li>
					<li>Server Support for WEBP: {{ craft.imager.serverSupportsWebp() ? 'yes' : 'no' }}</li>
					<li>Server Support for AVIF: {{ craft.imager.serverSupportsAvif() ? 'yes' : 'no' }}</li>
					<li>Server Support for JPEG XL: {{ craft.imager.serverSupportsJxl() ? 'yes' : 'no' }}</li>
				</ul>

				{{ imageHelper.basic({
					transform: 'bannerImage',
					source: entry.listingImage.one(),
					pictureProperty: "data-scroll-reveal=swipeFromLeft"
				}) }}

				{{ imageHelper.withCaption({
					transform: 'bannerImage',
					source: entry.listingImage.one(),
					caption: "This is a test caption to go with the image.",
					pictureProperty: "data-scroll-reveal=swipeFromRight"
				}) }}
			</div>
		</div>
	</main>
{% endblock -%}
