{% import '_macros' as macros %}
{% set htmlClass = 'news' %}
{% extends "_layout" %}

{% if year is not defined %}
	{% redirect "news/archive/"~now.year %}
{% endif %}

{% if month is not defined %}
	{% set before = year+1 %}
	{% set after  = year %}
	{% set title = year ~ " | News Archive" %}
{% else %}
	{% if month == 12 %}
		{% set yearBefore = year + 1 %}
		{% set monthBefore = '01' %}

		{% set before = yearBefore~'-'~monthBefore %}
		{% set after = year~'-'~month %}
	{% else %}
		{% set before = year ~ '-' ~ (month+1) %}
		{% set after  = year ~ '-' ~ month %}
	{% endif %}

	{# used to get a textual representation of the month #}
	{% set realMonthFalseDate = "10-"~month~"-2010" %}
	{% set monthName = realMonthFalseDate|date('F') %}

	{% set title = monthName ~ ", " ~ year ~ " | News Archive" %}
{% endif %}

{% block content %}<!-- Template: {{ _self }}.twig -->
	{% do seomatic.meta.robots("noindex,follow") %}

	<main id="main">
		<div class="dc_constrain-centre dc_layout-padding-both dc_grid-1-3 main-right">
			<div class="col1">
				{% set entriesInPeriod = craft.entries
					.section('newsItems')
					.after(after)
					.before(before)
					.orderBy('postDate desc')
					.with([
						'listingImage',
					]).all()
				%}

				<h1>News Archive</h1>
				<div class="tagline">
					<p>
						For {% if month is defined %}{{ monthName|date('F') }} {% endif %}{% if year is defined %}{{ year }}{% else %}{{ now.Y }}{% endif %}.
						There
						{% if entriesInPeriod | length == 0 %}
							are no entries
							{% if year > now|date("Y") %}
								- either my clock is wrong, or you're trying to divine the future
							{% else %}
								- my memory doesn't go back that far
							{% endif %}
						{% elseif entriesInPeriod | length > 1 %}
							are {{ entriesInPeriod | length }} entries
						{% else %}
							is {{ entriesInPeriod | length }} entry
						{% endif %}
						...
					</p>
				</div>

				{% for month, entries in entriesInPeriod | group("postDate|date('F')") | reverse(true) %}
					<div class="section newsItems">
						<div class="container">
							<h2 class="heading-year">{{ month }}</h2>

							{% for newsItem in entries %}
								{% include "_partials/cardListing" with {
									craftElement: newsItem,
									showPublishDate: true,
									showSaveToggle: false
								} %}
							{% endfor %}
						</div><!-- .container -->
					</div><!-- .section.newsItems -->
				{% endfor %}
			</div>

			<div class="col2">
				{% include 'news/_nav-categories' %}
				{% include 'news/_nav-archive' %}
				{% include '_partials/social-share' %}
			</div>
		</div>
	</main>
{% endblock %}
