{# As of Craft 4.4 the path has been laid for the removal of Globals, Tags, and Categories #}
{%- set website = craft.entries
	.section('email')
	.with([
		'emailHeader'
	])
	.one()
-%}
{% import '_macros' as macros %}
{% extends "_emails/_layout.twig" %}

{% block content %}<!-- Template: {{ _self }}.twig -->
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						{% if email.contactFormSentMessage %}
							{{ email.contactFormSentMessage}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<p>Your Enquiry</p>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td><strong>Name</strong></td>
								<td>{{ submission.fromName }}</td>
							</tr>
							<tr>
								<td><strong>Email</strong></td>
								<td>{{ submission.fromEmail }}</td>
							</tr>
							<tr>
							<tr>
								<td><strong>Phone</strong></td>
								<td>{{ submission.message.phone }}</td>
							</tr>
							<tr>
								<td colspan="2">
									<strong>Message</strong><br/>
									{{ submission.message.body }}
									<br/><br/>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{% endblock %}
